<!DOCTYPE html>
<html lang="de">

<%- include('partials/head', { title: 'Angebote' }) %>

<body class="page container-fluid">

    <!--Header-->
    <rts-header></rts-header>

    <!--Main-->
    <main class="main row g-0">

        <!--Nav-->
        <div class="col col-lg-2">
            <rts-nav></rts-nav>
        </div>
        <div class="col-sm-12 col-lg-10">
            <section class="text-block">
                <h2 class="text-block__title">Angebot</h2>
                <rts-text-block 
                    title="<%= gruppenEinzelnterricht.title %>"
                    text="<%= gruppenEinzelnterricht.text %>">
                </rts-text-block>
                <section>
                    <rts-text-block
                        title="Preise"
                        text='<h4>Einzelunterricht</h4>
                        <h5>Kinder (6-18)</h5>
                        <ul class="list">
                            <li class="list__item">Einzelzahlung - 65Fr./mal</li>
                            <li class="list__item">110er Abo - 600Fr. (60Fr./mal)</li>
                        </ul>
                        <h5>Erwachsene (ab 18. Geburtstag)</h5>
                        <ul class="list">
                            <li class="list__item">Einzelzahlung - 80Fr./mal</li>
                            <li class="list__item">10er Abo - 750Fr. (75Fr./mal)</li>
                        </ul>
                        <h4>Gruppenunterricht</h4>
                        <ul class="list">
                            <li class="list__item">Einzelzahlung - 50Fr./mal</li>
                            <li class="list__item">10er Abo - 400Fr. (40Fr./mal)</li>
                        </ul>'
                        prominent="true">
                    </rts-text-block>
                </section>
            </section>
        
            <hr>
        
            <section class="text-block">

                <rts-text-block 
                    title="<%= anmeldung.title %>"
                    text="<%= anmeldung.text %>">
                </rts-text-block>        

                <a class="link text-block__link" href="kontakt">Anmelden</a>
                <hr>
            </section>
        
            <section class="section">
                
                <rts-text-block
                    title="<%= voltegieren.title %>"
                    text="<%= voltegieren.text %>">
                </rts-text-block>
                
                <h3 class="text-block__subtitle text-block__subtitle--prominent">Preise:</h3>
                <p class="text-block__text">
                    Die Preise für den Voltigierkurs sind individuell, da sie von Deinen persönlichen Bedürfnissen und
                    Zielen abhängen. Wenn Du Interesse an einem Voltigierkurs hast, kontaktiere mich gerne direkt.
                    Gemeinsam finden wir den passenden Kurs und die entsprechenden Konditionen für Dich.
                </p>
                <a class="link text-block__link" href="kontakt">Anmelden</a>
            </section>
        </div>
    </main>

    <!--Footer-->
    <rts-footer></rts-footer>

</body>

</html>