<%- include('partials/head', { title }) %>
<rts-layout>
  <div slot="content" class="content">
    <% horses.forEach(horse => { %>
    <p><%= horse.name %></p>
    <p><%= horse.age %></p>
    <p><%= horse.color %></p>
    <p><%= horse.breed %></p>
    <% }); %>
  </div>
</rts-layout>
