<%- include('partials/head', { title }) %>
    <rts-layout>
        <div slot="content" class="content">
            <h2 class="text-block__title">Meine Pferde</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <article>
                    <rts-horse-card name="<%= horse1.name %>" 
                        photo-src="<%= horse1.photosrc %>" alt="<%= horse1.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse1.text %>" name="<%= horse1.name %>" breed="<%= horse1.breed %>"
                        birthyear="<%= horse1.birthyear %>" color="<%= horse1.color %>" gender="<%= horse1.gender %>"></rts-toggletext>
                </article>
                <article>
                    <rts-horse-card name="<%= horse2.name %>" 
                        photo-src="<%= horse2.photosrc %>" alt="<%= horse2.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse2.text %>" name="<%= horse2.name %>" breed="<%= horse2.breed %>"
                        birthyear="<%= horse2.birthyear %>" color="<%= horse2.color %>" gender="<%= horse2.gender %>"></rts-toggletext>
                </article>
                <article>
                    <rts-horse-card name="<%= horse3.name %>" 
                        photo-src="<%= horse3.photosrc %>" alt="<%= horse3.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse3.text %>" name="<%= horse3.name %>" breed="<%= horse3.breed %>"
                        birthyear="<%= horse3.birthyear %>" color="<%= horse3.color %>" gender="<%= horse3.gender %>"></rts-toggletext>
                </article>
                <article>
                    <rts-horse-card name="<%= horse4.name %>" 
                        photo-src="<%= horse4.photosrc %>" alt="<%= horse4.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse4.text %>" name="<%= horse4.name %>" breed="<%= horse4.breed %>"
                        birthyear="<%= horse4.birthyear %>" color="<%= horse4.color %>" gender="<%= horse4.gender %>"></rts-toggletext>
                </article>
                <article>
                    <rts-horse-card name="<%= horse5.name %>" 
                        photo-src="<%= horse5.photosrc %>" alt="<%= horse5.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse5.text %>" name="<%= horse5.name %>" breed="<%= horse5.breed %>"
                        birthyear="<%= horse5.birthyear %>" color="<%= horse5.color %>" gender="<%= horse5.gender %>"></rts-toggletext>
                </article>
                <article>
                    <rts-horse-card name="<%= horse6.name %>" 
                        photo-src="<%= horse6.photosrc %>" alt="<%= horse6.alt %>">
                    </rts-horse-card>
                    <rts-toggletext text="<%= horse6.text %>" name="<%= horse6.name %>" breed="<%= horse6.breed %>"
                        birthyear="<%= horse6.birthyear %>" color="<%= horse6.color %>" gender="<%= horse6.gender %>"></rts-toggletext>
                </article>
            </div>
        </div>
    </rts-layout>